<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    Education
    </ion-title>
    </ion-toolbar>
   </ion-header>
   <ion-content>
    <ion-list>
    <ion-list-header><ul>My education so far</ul></ion-list-header> <!--adding education information using list function-->
    <li>&nbsp; &nbsp;&nbsp; &nbsp; Bachelor of business administration, estimated time of graduation 6/20</li>
    <br><li>&nbsp; &nbsp;&nbsp; &nbsp; Matriculation examination, graduated 2014</li>
    <ion-item>
    
    </ion-item>
    </ion-list>
   </ion-content>