<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>
  Contact
  </ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content>
  <ion-list>
  <ion-list-header>Contact page</ion-list-header> <!--adding header to the page-->
  <ion-item>
  <ion-icon name="Contact" slot="start"></ion-icon>
  Roni Saikanmäki<br>email: roni.saikanmaki@gmail.com<br>puh: 0409337877 <!--adding some personal information-->
  </ion-item>
  </ion-list>
 </ion-content>