<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    Languages
    </ion-title>
    </ion-toolbar>
   </ion-header>
   <ion-content>
    <ion-list>
    <ion-list-header><ul>The languages I can talk listed below</ul></ion-list-header>
    <li>&nbsp; &nbsp;&nbsp; &nbsp; finnish = motherlanguage</li>
    <br><li>&nbsp; &nbsp;&nbsp; &nbsp; english = good</li>
    <ion-item>
    
    </ion-item>
    </ion-list>
   </ion-content>