<!--code for the site that tells my job history-->
<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    Job history
    </ion-title>
    </ion-toolbar>
   </ion-header>
   <ion-content>
    <ion-list>
    <ion-list-header><ul>Previous jobs</ul></ion-list-header>
    <li>&nbsp; &nbsp;&nbsp; &nbsp; ICT support, Helsinki city, 1/18-9/18</li>
    <li>&nbsp; &nbsp;&nbsp; &nbsp; Postman, SOL OY, 4/2016-8/16</li>
    <li>&nbsp; &nbsp;&nbsp; &nbsp; Remover, Kapera OY, 5/14-1/15</li>
    <ion-item>
    
    </ion-item>
    </ion-list>
   </ion-content>
